@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start min-vh-100">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Välkommen till <span class="text-warning">ett forum för kvinnor i tech-branschen!</span></h1>
                <p class="lead my-4">
                    Vi erbjuder de senaste nyheterna inom tech och intressanta diskussioner i våra forum
                </p>
                <button class="btn btn-warning btn-lg" data-bs-toggle="modal" data-bs-target="#enroll">
                    Bli medlem här för att joina vårt community
                </button>
            </div>
            <img class="img-fluid w-50 d-none d-sm-block" src="img/pairprogramming.svg" alt="">
        </div>
    </div>
</section>

