@page
@model WomensTechForum2._0.Pages.MessageModel
@{
}



@if (Model.CurrentUser != null)
{
    <h1>Dina meddelanden</h1>
    @foreach (var mess in Model.Messages.Where(m => m.ReceiverId == Model.CurrentUser.Id))
    {
        <p class="lead">@mess.Title</p>
        <p>@mess.TextMessage</p>
    }


    <h1>Skicka meddelande</h1>
    <form method="post">

        @*<label asp-for="NewMessage.Id"></label>
    <input asp-for="NewMessage.Id" />
    <span asp-validation-for="NewMessage.Id" class="text-danger"></span>
    <br />*@
        <label asp-for="NewMessage.Title"></label>
        <input asp-for="NewMessage.Title" />
        <span asp-validation-for="NewMessage.Title" class="text-danger"></span>
        <br />
        <label asp-for="NewMessage.TextMessage"></label>
        <input asp-for="NewMessage.TextMessage" />
        <span asp-validation-for="NewMessage.TextMessage" class="text-danger"></span>
        <br />
        @*    <label asp-for="NewMessage.DateTime"></label>
    <input asp-for="NewMessage.DateTime" />
    <span asp-validation-for="NewMessage.DateTime" class="text-danger"></span>
    <br />*@
        @*<label asp-for="NewMessage.SenderId"></label>*@
        <input asp-for="NewMessage.SenderId" type="hidden" value="@Model.CurrentUser.Id" />
        @*    <span asp-validation-for="NewMessage.SenderId" class="text-danger"></span>
    *@    <br />

        <div class="form-group">
            <label asp-for="NewMessage.ReceiverId" class="control-label">Mottagare</label>
           <select asp-for="NewMessage.ReceiverId" class="form-control" asp-items="ViewBag.ReceiverId"></select>
     </div>



        @*<label asp-for="NewMessage.ReceiverId"></label>
    <input asp-for="NewMessage.ReceiverId" />
    <span asp-validation-for="NewMessage.ReceiverId" class="text-danger"></span>*@
        <br />
        @*<label asp-for="NewMessage.IsRead"></label>
    <input asp-for="NewMessage.IsRead" />
    <span asp-validation-for="NewMessage.IsRead" class="text-danger"></span>
    <br />*@
        <input type="submit" value="Skicka" />


    </form>

}