html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

/*body {
    margin-bottom: 60px;

}*/

.form-popup {
    display: none;
}

.dark {
    background: #110f16;
}

.dark-card {
    background-color: #2a2a2a;
}

.postcard-image {
    /*max-height: 180px;*/
    max-height: 100%;
    object-fit: cover;
    position: relative;
}

.postcard-bar {
    width: 100px;
    height: 4px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #ffc107;
    transition: width 0.2s ease;
}

.postcard:hover .postcard-bar {
    width: 200px;
}
.postcard-header{
    color: white;
}
.postcard:hover .postcard-header {
    color: #ffc107;
}



.postcard {
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #ffffff;
    background: linear-gradient(-70deg, #424242, transparent 50%);
}


.postcard-text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

/*.postcard-post-text {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
}*/

    /*.postcard-post-text:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
        border-radius: 10px;
    }*/

.new-thread-btn{
    margin-left:55px;
}

.header-bar {
    width: 150px;
    height: 2px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #ffc107;
    
}